/* Credit to Roman Zolotarev <romanzolotarev.com> for their stylesheet, from
   which this file is derived. */

html { font-size: 20px; -webkit-text-size-adjust: 100%; }
hr { border: 0; margin-top: 2rem; }
hr, h1, h2 { margin-top: 3rem; }
li { padding: .125rem 0; }
p, li, ul { font-family: "Roboto", "Noto Sans", sans-serif; }
p img, table { max-width: 100%; }
pre em { background-color: #fea; font-style: normal; }
pre i { font-style: normal; color: #333; }
pre b { color: #333; }
pre u { color: #333; text-decoration: none; background-color: #c0e0ee; }
pre i::before { content: "> "; color: #aaa; }
pre strong { background-color: #0000cc; color: #fff; }
pre { font-size: 15px; overflow-x: auto; color: #888; }
p code { vertical-align: middle; padding: .125em .25em .05em .25em; font-size: .9em; border-radius: .25em; background-color: #fffceb; }
a, blockquote, body, code, div, form, h1, h2, h3, html, input, li, ol, p, pre, table, td, textarea, th, tr, ul { box-sizing: border-box; }
img { border-style: none; }
h1, h2, h3, h4 { margin-bottom: 0; font-family: "Playfair Display", "Noto Serif", Georgia, Times, serif; } 
pre, code { font-family: Consolas, Monaco, monospace; }
h1 { line-height: 1; }
h2, h3, pre { line-height: 1.25; }
.mw6 { max-width: 32rem; }
.w-100 { width: 100%; }
.center { margin-right: auto; margin-left: auto; }
.pb3 { padding-bottom: 1rem; }

@media screen and (min-width: 30em) {
  h1 { font-size: 1.5rem; }
  h2 { font-size: 1.25rem; }
  h3 { font-size: 1rem; }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  h1 { font-size: 1.5rem; }
  h2 { font-size: 1.25rem; }
  h3 { font-size: 1rem; }
}
@media screen and (min-width: 60em) {
  h1 { font-size: 2.25rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.25rem; }
}
